
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-sJm {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-puxm-tt5 {
    box-sizing: border-box;
    padding-bottom: 4.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-uwtk-QdT {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0rem 0rem 7.2rem 0rem;
      box-sizing: border-box;
      padding: 3.4rem 8rem 21.7rem 68.3rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      background-position: center;
      background-image: url('REPLACE_IMAGE:bd6c9a5ab797e21ac2a7ae9cb94f1f36ec352001');
      width: calc(100% - 0rem);
      flex-shrink: 0;

      .auto-group-hokr-cjX {
        flex-shrink: 0;
        margin-bottom: 22.5rem;
        display: flex;
        column-gap: 4.2rem;
        align-items: center;

        .home-JsF {
          line-height: 0.46875;
          letter-spacing: 0.128rem;
          color: #ffffff;
          font-family: Jomhuria, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 6.4rem;
          font-weight: 400;
        }
        .login-XV7 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 0.46875;
          letter-spacing: 0.128rem;
          color: #ffffff;
          font-family: Jomhuria, 'Source Sans Pro';
        }
        .signup-pj7 {
          letter-spacing: 0.128rem;
          color: #ffffff;
          font-family: Jomhuria, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 0.46875;
        }
      }
      .artificial-intelligence-Hsb {
        width: 100%;
        max-width: 48.3rem;
        font-size: 15rem;
        font-weight: 400;
        line-height: 0.6666666667;
        color: #ffffff;
        flex-shrink: 0;
        text-align: center;
        font-family: Jomhuria, 'Source Sans Pro';

        .artificial-intelligence-Hsb-sub-0 {
          font-size: 15rem;
          font-weight: 400;
          line-height: 0.6666666667;
          color: #ff0000;
          font-family: Jomhuria, 'Source Sans Pro';
        }
        .artificial-intelligence-Hsb-sub-1 {
        }
      }
    }
    .auto-group-n1rv-2Eq {
      margin: 0rem 0rem 15.1rem 2.9rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-3-hLy {
        height: 43.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 2.3rem 17.9rem 0rem 0rem;
        width: 43.3rem;
      }
      .rectangle-6-ka9 {
        background-color: #f9ff00;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 1rem;
        height: 8.3rem;
      }
      .introduction-artificial-intelligence-ai-has-emerged-as-one-of-the-most-transformative-technologies-of-the-21st-century-reshaping-the-way-we-live-work-and-interact-rooted-in-the-idea-of-creating-machines-that-can-perform-tasks-requiring-human-intelligence-ai-has-made-significant-strides-in-various-fields-from-healthcare-and-finance-to-education-and-entertainment-this-essay-explores-the-evolution-of-artificial-intelligence-its-applications-across-different-sectors-ethical-considerations-and-the-potential-impact-on-society-rNH {
        flex-shrink: 0;
        line-height: 0.625;
        max-width: 45.9rem;
        font-size: 4.8rem;
        font-weight: 400;
        letter-spacing: 0.096rem;
        color: #0f0f0f;
        font-family: Jomhuria, 'Source Sans Pro';
        margin-top: 2.3rem;

        .introduction-artificial-intelligence-ai-has-emerged-as-one-of-the-most-transformative-technologies-of-the-21st-century-reshaping-the-way-we-live-work-and-interact-rooted-in-the-idea-of-creating-machines-that-can-perform-tasks-requiring-human-intelligence-ai-has-made-significant-strides-in-various-fields-from-healthcare-and-finance-to-education-and-entertainment-this-essay-explores-the-evolution-of-artificial-intelligence-its-applications-across-different-sectors-ethical-considerations-and-the-potential-impact-on-society-rNH-sub-0 {
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 0.46875;
          letter-spacing: 0.096rem;
          color: #ef0707;
          font-family: Jockey One, 'Source Sans Pro';
        }
        .introduction-artificial-intelligence-ai-has-emerged-as-one-of-the-most-transformative-technologies-of-the-21st-century-reshaping-the-way-we-live-work-and-interact-rooted-in-the-idea-of-creating-machines-that-can-perform-tasks-requiring-human-intelligence-ai-has-made-significant-strides-in-various-fields-from-healthcare-and-finance-to-education-and-entertainment-this-essay-explores-the-evolution-of-artificial-intelligence-its-applications-across-different-sectors-ethical-considerations-and-the-potential-impact-on-society-rNH-sub-1 {
          font-weight: 400;
          line-height: 0.46875;
          letter-spacing: 0.096rem;
          color: #ef0707;
          font-family: Jomhuria, 'Source Sans Pro';
          font-size: 6.4rem;
        }
        .introduction-artificial-intelligence-ai-has-emerged-as-one-of-the-most-transformative-technologies-of-the-21st-century-reshaping-the-way-we-live-work-and-interact-rooted-in-the-idea-of-creating-machines-that-can-perform-tasks-requiring-human-intelligence-ai-has-made-significant-strides-in-various-fields-from-healthcare-and-finance-to-education-and-entertainment-this-essay-explores-the-evolution-of-artificial-intelligence-its-applications-across-different-sectors-ethical-considerations-and-the-potential-impact-on-society-rNH-sub-2 {
        }
      }
    }
    .line-1-gpV {
      margin: 0rem 0rem 3.1rem 0rem;
      width: calc(100% - 0rem);
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-ihjd-YLu {
      margin: 0rem 0rem 4.9rem 2.9rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-5-sPB {
        margin: 10.9rem 1rem 0rem 0rem;
        width: 60.7rem;
        height: 43.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-7-nm3 {
        margin-right: 2.5rem;
        width: 1rem;
        height: 8.3rem;
        background-color: #f9ff00;
        flex-shrink: 0;
      }
      .evolution-of-ai-evolution-of-artificial-intelligence-the-concept-of-artificial-intelligence-dates-back-to-ancient-civilizations-where-myths-and-legends-often-portrayed-human-like-beings-created-by-gods-however-the-formal-development-of-ai-began-in-the-mid-20th-century-in-1956-the-term-artificial-intelligence-was-coined-at-the-dartmouth-conference-marking-the-birth-of-this-interdisciplinary-field-early-ai-focused-on-rule-based-systems-and-symbolic-reasoning-attempting-to-replicate-human-thought-processes-the-field-experienced-periods-of-optimism-and-disappointment-known-as-ai-winters-as-researchers-faced-challenges-in-meeting-the-lofty-expectations-set-for-ai-the-turning-point-came-with-the-advent-of-machine-learning-in-the-late-20th-century-particularly-through-the-development-of-neural-networks-this-shift-from-rule-based-systems-to-learning-algorithms-marked-a-fundamental-change-in-ai-enabling-computers-to-analyze-data-and-improve-performance-over-time-v6Z {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 0.625;
        font-family: Jomhuria, 'Source Sans Pro';
        margin-top: 4.2rem;
        max-width: 65.1rem;
        letter-spacing: 0.096rem;
        color: #0f0f0f;
        flex-shrink: 0;

        .evolution-of-ai-evolution-of-artificial-intelligence-the-concept-of-artificial-intelligence-dates-back-to-ancient-civilizations-where-myths-and-legends-often-portrayed-human-like-beings-created-by-gods-however-the-formal-development-of-ai-began-in-the-mid-20th-century-in-1956-the-term-artificial-intelligence-was-coined-at-the-dartmouth-conference-marking-the-birth-of-this-interdisciplinary-field-early-ai-focused-on-rule-based-systems-and-symbolic-reasoning-attempting-to-replicate-human-thought-processes-the-field-experienced-periods-of-optimism-and-disappointment-known-as-ai-winters-as-researchers-faced-challenges-in-meeting-the-lofty-expectations-set-for-ai-the-turning-point-came-with-the-advent-of-machine-learning-in-the-late-20th-century-particularly-through-the-development-of-neural-networks-this-shift-from-rule-based-systems-to-learning-algorithms-marked-a-fundamental-change-in-ai-enabling-computers-to-analyze-data-and-improve-performance-over-time-v6Z-sub-0 {
          font-size: 9.6rem;
          font-weight: 400;
          line-height: 0.3125;
          letter-spacing: 0.096rem;
          color: #ef0707;
          font-family: Jomhuria, 'Source Sans Pro';
        }
        .evolution-of-ai-evolution-of-artificial-intelligence-the-concept-of-artificial-intelligence-dates-back-to-ancient-civilizations-where-myths-and-legends-often-portrayed-human-like-beings-created-by-gods-however-the-formal-development-of-ai-began-in-the-mid-20th-century-in-1956-the-term-artificial-intelligence-was-coined-at-the-dartmouth-conference-marking-the-birth-of-this-interdisciplinary-field-early-ai-focused-on-rule-based-systems-and-symbolic-reasoning-attempting-to-replicate-human-thought-processes-the-field-experienced-periods-of-optimism-and-disappointment-known-as-ai-winters-as-researchers-faced-challenges-in-meeting-the-lofty-expectations-set-for-ai-the-turning-point-came-with-the-advent-of-machine-learning-in-the-late-20th-century-particularly-through-the-development-of-neural-networks-this-shift-from-rule-based-systems-to-learning-algorithms-marked-a-fundamental-change-in-ai-enabling-computers-to-analyze-data-and-improve-performance-over-time-v6Z-sub-1 {
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 0.46875;
          letter-spacing: 0.096rem;
          color: #ef0707;
          font-family: Jomhuria, 'Source Sans Pro';
        }
        .evolution-of-ai-evolution-of-artificial-intelligence-the-concept-of-artificial-intelligence-dates-back-to-ancient-civilizations-where-myths-and-legends-often-portrayed-human-like-beings-created-by-gods-however-the-formal-development-of-ai-began-in-the-mid-20th-century-in-1956-the-term-artificial-intelligence-was-coined-at-the-dartmouth-conference-marking-the-birth-of-this-interdisciplinary-field-early-ai-focused-on-rule-based-systems-and-symbolic-reasoning-attempting-to-replicate-human-thought-processes-the-field-experienced-periods-of-optimism-and-disappointment-known-as-ai-winters-as-researchers-faced-challenges-in-meeting-the-lofty-expectations-set-for-ai-the-turning-point-came-with-the-advent-of-machine-learning-in-the-late-20th-century-particularly-through-the-development-of-neural-networks-this-shift-from-rule-based-systems-to-learning-algorithms-marked-a-fundamental-change-in-ai-enabling-computers-to-analyze-data-and-improve-performance-over-time-v6Z-sub-2 {
        }
      }
    }
    .line-2-wbK {
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0rem 3rem 0rem;
      width: calc(100% - 0.0001rem);
      height: 0.1rem;
    }
    .auto-group-ymjb-Fru {
      margin: 0rem 10.6rem 2.9rem 4.2rem;
      width: calc(100% - 14.8rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-8-a8V {
        margin: 4.1rem 2rem 0rem 0rem;
        width: 59.4rem;
        height: 44.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-9-JKP {
        margin-right: 1.7rem;
        width: 1rem;
        height: 8.3rem;
        background-color: #f9ff00;
        flex-shrink: 0;
      }
      .applications-of-ai-ai-has-permeated-diverse-sectors-revolutionizing-the-way-tasks-are-performed-and-problems-are-solved-in-healthcare-ai-is-used-for-medical-imaging-diagnosis-drug-discovery-and-personalized-treatment-plans-in-finance-algorithms-drive-automated-trading-systems-risk-assessment-and-fraud-detection-the-education-sector-benefits-from-ai-through-personalized-learning-platforms-adaptive-tutoring-and-educational-analytics-one-of-the-most-prominent-applications-of-ai-is-in-autonomous-vehicles-where-machine-learning-algorithms-enable-cars-to-navigate-recognize-obstacles-and-make-real-time-decisions-in-the-realm-of-natural-language-processing-virtual-assistants-like-siri-and-alexa-demonstrate-the-capabilities-of-ai-in-understanding-and-responding-to-human-language-these-applications-highlight-the-versatility-and-potential-impact-of-ai-across-various-domains-SgV {
        font-weight: 400;
        color: #0f0f0f;
        flex-shrink: 0;
        letter-spacing: 0.096rem;
        font-family: Jomhuria, 'Source Sans Pro';
        margin-top: 4.1rem;
        max-width: 65.1rem;
        font-size: 4.8rem;
        line-height: 0.625;

        .applications-of-ai-ai-has-permeated-diverse-sectors-revolutionizing-the-way-tasks-are-performed-and-problems-are-solved-in-healthcare-ai-is-used-for-medical-imaging-diagnosis-drug-discovery-and-personalized-treatment-plans-in-finance-algorithms-drive-automated-trading-systems-risk-assessment-and-fraud-detection-the-education-sector-benefits-from-ai-through-personalized-learning-platforms-adaptive-tutoring-and-educational-analytics-one-of-the-most-prominent-applications-of-ai-is-in-autonomous-vehicles-where-machine-learning-algorithms-enable-cars-to-navigate-recognize-obstacles-and-make-real-time-decisions-in-the-realm-of-natural-language-processing-virtual-assistants-like-siri-and-alexa-demonstrate-the-capabilities-of-ai-in-understanding-and-responding-to-human-language-these-applications-highlight-the-versatility-and-potential-impact-of-ai-across-various-domains-SgV-sub-0 {
          font-size: 9.6rem;
          font-weight: 400;
          line-height: 0.3125;
          letter-spacing: 0.096rem;
          color: #ef0707;
          font-family: Jomhuria, 'Source Sans Pro';
        }
        .applications-of-ai-ai-has-permeated-diverse-sectors-revolutionizing-the-way-tasks-are-performed-and-problems-are-solved-in-healthcare-ai-is-used-for-medical-imaging-diagnosis-drug-discovery-and-personalized-treatment-plans-in-finance-algorithms-drive-automated-trading-systems-risk-assessment-and-fraud-detection-the-education-sector-benefits-from-ai-through-personalized-learning-platforms-adaptive-tutoring-and-educational-analytics-one-of-the-most-prominent-applications-of-ai-is-in-autonomous-vehicles-where-machine-learning-algorithms-enable-cars-to-navigate-recognize-obstacles-and-make-real-time-decisions-in-the-realm-of-natural-language-processing-virtual-assistants-like-siri-and-alexa-demonstrate-the-capabilities-of-ai-in-understanding-and-responding-to-human-language-these-applications-highlight-the-versatility-and-potential-impact-of-ai-across-various-domains-SgV-sub-1 {
        }
      }
    }
    .line-3-U2q {
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0rem 2.5rem 0rem;
      width: calc(100% - 0rem);
    }
    .auto-group-tgr3-CzR {
      margin: 0rem 0rem 2.2rem 2.9rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-11-kFF {
        margin: 2.3rem 3rem 0rem 0rem;
        width: 60.7rem;
        height: 41.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-10-HW5 {
        margin-right: 2.3rem;
        width: 1rem;
        height: 8.3rem;
        background-color: #f9ff00;
        flex-shrink: 0;
      }
      .ethical-considerations-as-ai-continues-to-advance-ethical-considerations-become-increasingly-important-issues-such-as-bias-in-ai-algorithms-job-displacement-due-to-automation-privacy-concerns-and-the-potential-for-misuse-of-ai-technology-raise-ethical-questions-that-must-be-addressed-bias-in-ai-algorithms-often-reflecting-the-biases-present-in-the-training-data-can-result-in-discriminatory-outcomes-affecting-marginalized-communities-disproportionately-the-ethical-implications-of-ai-also-extend-to-issues-of-accountability-and-transparency-as-ai-systems-become-more-complex-and-autonomous-understanding-the-decision-making-processes-becomes-challenging-especially-in-cases-where-ai-is-involved-in-critical-tasks-such-as-healthcare-and-criminal-justice-establishing-guidelines-for-responsible-ai-development-and-deployment-is-crucial-to-ensuring-that-ai-benefits-society-without-causing-harm-cYM {
        max-width: 65.1rem;
        font-weight: 400;
        line-height: 0.625;
        letter-spacing: 0.096rem;
        font-family: Jomhuria, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 2.3rem;
        font-size: 4.8rem;
        color: #0f0f0f;

        .ethical-considerations-as-ai-continues-to-advance-ethical-considerations-become-increasingly-important-issues-such-as-bias-in-ai-algorithms-job-displacement-due-to-automation-privacy-concerns-and-the-potential-for-misuse-of-ai-technology-raise-ethical-questions-that-must-be-addressed-bias-in-ai-algorithms-often-reflecting-the-biases-present-in-the-training-data-can-result-in-discriminatory-outcomes-affecting-marginalized-communities-disproportionately-the-ethical-implications-of-ai-also-extend-to-issues-of-accountability-and-transparency-as-ai-systems-become-more-complex-and-autonomous-understanding-the-decision-making-processes-becomes-challenging-especially-in-cases-where-ai-is-involved-in-critical-tasks-such-as-healthcare-and-criminal-justice-establishing-guidelines-for-responsible-ai-development-and-deployment-is-crucial-to-ensuring-that-ai-benefits-society-without-causing-harm-cYM-sub-0 {
          color: #ef0707;
          font-family: Jomhuria, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 400;
          line-height: 0.3125;
          letter-spacing: 0.096rem;
        }
        .ethical-considerations-as-ai-continues-to-advance-ethical-considerations-become-increasingly-important-issues-such-as-bias-in-ai-algorithms-job-displacement-due-to-automation-privacy-concerns-and-the-potential-for-misuse-of-ai-technology-raise-ethical-questions-that-must-be-addressed-bias-in-ai-algorithms-often-reflecting-the-biases-present-in-the-training-data-can-result-in-discriminatory-outcomes-affecting-marginalized-communities-disproportionately-the-ethical-implications-of-ai-also-extend-to-issues-of-accountability-and-transparency-as-ai-systems-become-more-complex-and-autonomous-understanding-the-decision-making-processes-becomes-challenging-especially-in-cases-where-ai-is-involved-in-critical-tasks-such-as-healthcare-and-criminal-justice-establishing-guidelines-for-responsible-ai-development-and-deployment-is-crucial-to-ensuring-that-ai-benefits-society-without-causing-harm-cYM-sub-1 {
        }
      }
    }
    .line-4-Jjw {
      margin: 0rem 0rem 5.9rem 0rem;
      width: calc(100% - 0rem);
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-3zq9-T73 {
      margin: 0rem 7.9rem 0rem 2.8rem;
      width: calc(100% - 10.7rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-13-PFb {
        margin: 1.1rem 5.3rem 0rem 0rem;
        width: 60.2rem;
        height: 43.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-12-Wr1 {
        margin-right: 1.7rem;
        width: 1rem;
        height: 8.3rem;
        background-color: #f9ff00;
        flex-shrink: 0;
      }
      .impact-on-society-the-widespread-integration-of-ai-into-society-brings-about-both-opportunities-and-challenges-on-the-positive-side-ai-has-the-potential-to-enhance-productivity-improve-efficiency-and-contribute-to-scientific-and-medical-breakthroughs-automation-driven-by-ai-can-streamline-mundane-tasks-allowing-humans-to-focus-on-more-creative-and-complex-endeavors-however-the-rise-of-ai-also-raises-concerns-about-job-displacement-as-automation-threatens-traditional-employment-models-the-need-for-reskilling-and-upskilling-the-workforce-becomes-essential-to-ensure-that-individuals-can-adapt-to-the-evolving-job-market-additionally-the-ethical-considerations-discussed-earlier-underscore-the-importance-of-a-thoughtful-and-responsible-approach-to-the-development-and-deployment-of-ai-technologies-4cd {
        letter-spacing: 0.096rem;
        color: #0f0f0f;
        flex-shrink: 0;
        line-height: 0.625;
        max-width: 65.1rem;
        font-size: 4.8rem;
        font-weight: 400;
        font-family: Jomhuria, 'Source Sans Pro';
        margin-top: 4.2rem;

        .impact-on-society-the-widespread-integration-of-ai-into-society-brings-about-both-opportunities-and-challenges-on-the-positive-side-ai-has-the-potential-to-enhance-productivity-improve-efficiency-and-contribute-to-scientific-and-medical-breakthroughs-automation-driven-by-ai-can-streamline-mundane-tasks-allowing-humans-to-focus-on-more-creative-and-complex-endeavors-however-the-rise-of-ai-also-raises-concerns-about-job-displacement-as-automation-threatens-traditional-employment-models-the-need-for-reskilling-and-upskilling-the-workforce-becomes-essential-to-ensure-that-individuals-can-adapt-to-the-evolving-job-market-additionally-the-ethical-considerations-discussed-earlier-underscore-the-importance-of-a-thoughtful-and-responsible-approach-to-the-development-and-deployment-of-ai-technologies-4cd-sub-0 {
          letter-spacing: 0.096rem;
          color: #ef0707;
          font-family: Jomhuria, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 400;
          line-height: 0.3125;
        }
        .impact-on-society-the-widespread-integration-of-ai-into-society-brings-about-both-opportunities-and-challenges-on-the-positive-side-ai-has-the-potential-to-enhance-productivity-improve-efficiency-and-contribute-to-scientific-and-medical-breakthroughs-automation-driven-by-ai-can-streamline-mundane-tasks-allowing-humans-to-focus-on-more-creative-and-complex-endeavors-however-the-rise-of-ai-also-raises-concerns-about-job-displacement-as-automation-threatens-traditional-employment-models-the-need-for-reskilling-and-upskilling-the-workforce-becomes-essential-to-ensure-that-individuals-can-adapt-to-the-evolving-job-market-additionally-the-ethical-considerations-discussed-earlier-underscore-the-importance-of-a-thoughtful-and-responsible-approach-to-the-development-and-deployment-of-ai-technologies-4cd-sub-1 {
        }
      }
    }
  }
  .line-5-5i5 {
    width: 100%;
    height: 0.1rem;
    background-color: #000000;
    flex-shrink: 0;
  }
  .auto-group-zp2z-2dK {
    box-sizing: border-box;
    padding-top: 5.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-hu1k-MvV {
      flex-shrink: 0;
      margin: 0rem 0rem 9.9rem 2.8rem;
      display: flex;
      align-items: flex-start;

      .rectangle-15-tvR {
        margin-right: 4.3rem;
        width: 60.2rem;
        height: 43.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-14-dt1 {
        margin: 0.8rem 1.6rem 0rem 0rem;
        width: 1rem;
        height: 8.3rem;
        background-color: #f9ff00;
        flex-shrink: 0;
      }
      .conclusion-artificial-intelligence-stands-at-the-forefront-of-technological-innovation-offering-unprecedented-possibilities-for-transforming-how-we-live-and-work-its-evolution-from-rule-based-systems-to-machine-learning-has-opened-new-frontiers-across-various-sectors-propelling-us-into-an-era-of-increased-automation-and-intelligent-decision-making-while-the-ethical-considerations-and-societal-impacts-of-ai-are-complex-addressing-these-challenges-is-essential-to-harnessing-the-full-potential-of-this-powerful-technology-as-we-continue-to-advance-in-the-realm-of-artificial-intelligence-it-is-crucial-to-foster-collaboration-between-technologists-policymakers-and-ethicists-to-ensure-that-ai-is-developed-and-deployed-in-a-manner-that-aligns-with-human-values-promotes-inclusivity-and-contributes-positively-to-the-well-being-of-society-the-journey-into-the-future-with-artificial-intelligence-is-an-exciting-one-but-it-requires-careful-navigation-to-ensure-a-balance-between-innovation-and-ethical-responsibility-yS5 {
        letter-spacing: 0.096rem;
        color: #0f0f0f;
        font-family: Jomhuria, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 0.625;
        margin-top: 5rem;
        max-width: 65.1rem;
        flex-shrink: 0;

        .conclusion-artificial-intelligence-stands-at-the-forefront-of-technological-innovation-offering-unprecedented-possibilities-for-transforming-how-we-live-and-work-its-evolution-from-rule-based-systems-to-machine-learning-has-opened-new-frontiers-across-various-sectors-propelling-us-into-an-era-of-increased-automation-and-intelligent-decision-making-while-the-ethical-considerations-and-societal-impacts-of-ai-are-complex-addressing-these-challenges-is-essential-to-harnessing-the-full-potential-of-this-powerful-technology-as-we-continue-to-advance-in-the-realm-of-artificial-intelligence-it-is-crucial-to-foster-collaboration-between-technologists-policymakers-and-ethicists-to-ensure-that-ai-is-developed-and-deployed-in-a-manner-that-aligns-with-human-values-promotes-inclusivity-and-contributes-positively-to-the-well-being-of-society-the-journey-into-the-future-with-artificial-intelligence-is-an-exciting-one-but-it-requires-careful-navigation-to-ensure-a-balance-between-innovation-and-ethical-responsibility-yS5-sub-0 {
          font-size: 9.6rem;
          font-weight: 400;
          line-height: 0.3125;
          letter-spacing: 0.096rem;
          color: #ef0707;
          font-family: Jomhuria, 'Source Sans Pro';
        }
        .conclusion-artificial-intelligence-stands-at-the-forefront-of-technological-innovation-offering-unprecedented-possibilities-for-transforming-how-we-live-and-work-its-evolution-from-rule-based-systems-to-machine-learning-has-opened-new-frontiers-across-various-sectors-propelling-us-into-an-era-of-increased-automation-and-intelligent-decision-making-while-the-ethical-considerations-and-societal-impacts-of-ai-are-complex-addressing-these-challenges-is-essential-to-harnessing-the-full-potential-of-this-powerful-technology-as-we-continue-to-advance-in-the-realm-of-artificial-intelligence-it-is-crucial-to-foster-collaboration-between-technologists-policymakers-and-ethicists-to-ensure-that-ai-is-developed-and-deployed-in-a-manner-that-aligns-with-human-values-promotes-inclusivity-and-contributes-positively-to-the-well-being-of-society-the-journey-into-the-future-with-artificial-intelligence-is-an-exciting-one-but-it-requires-careful-navigation-to-ensure-a-balance-between-innovation-and-ethical-responsibility-yS5-sub-1 {
        }
      }
    }
    .auto-group-ulpd-hB3 {
      margin-right: 0rem;
      padding: 7.2rem 5.6rem 5.2rem 4.8rem;
      display: flex;
      box-sizing: border-box;
      width: calc(100% - 0rem);
      align-items: flex-end;
      flex-direction: column;
      background-color: #000000;
      flex-shrink: 0;

      .auto-group-vcrr-1Sd {
        flex-shrink: 0;
        margin-right: 3.4rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;

        .rectangle-17-933 {
          width: 4.8rem;
          height: 5.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-18-gHs {
          background-position: -0.15rem 0;
          background-image: url('REPLACE_IMAGE:40ed8235211b95b6e39eecf821727ae99c0df2a1');
          flex-shrink: 0;
          width: 4.8rem;
          height: 5.1rem;
          position: relative;
          background-size: 106.25% 100%;
        }
        .rectangle-19-nLu {
          vertical-align: top;
          flex-shrink: 0;
          width: 4.8rem;
          height: 5.1rem;
          object-fit: cover;
        }
      }
      .auto-group-wy9b-j1F {
        width: calc(100% - 57.3rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 57.3rem 4.7rem 0rem;

        .ellipse-1-eP7 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1rem;
          width: 3.2rem;
          height: 3.1rem;
          object-fit: contain;
        }
        .sign-up-to-know-more-about-ai-myX {
          font-size: 4rem;
          font-weight: 400;
          line-height: 0.75;
          white-space: nowrap;
          flex-shrink: 0;
          letter-spacing: 0.08rem;
          color: #ffffff;
          font-family: Titan One, 'Source Sans Pro';
          display: flex;
          align-items: baseline;

          .sign-up-to-know-more-about-ai-myX-sub-0 {
          }
          .sign-up-to-know-more-about-ai-myX-sub-1 {
            color: #f31010;
            font-family: Titan One, 'Source Sans Pro';
            font-size: 4rem;
            font-weight: 400;
            line-height: 0.75;
            letter-spacing: 0.08rem;
          }
        }
      }
      .auto-group-nhcy-XLR {
        margin-left: 97.7rem;
        width: calc(100% - 97.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .privacy-policy-4r9 {
          margin-right: 2.3rem;
          font-size: 2rem;
          letter-spacing: 0.04rem;
          color: #ffffff;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.5;
          font-family: Telex, 'Source Sans Pro';
          white-space: nowrap;
        }
        .terms-and-conditions-zUu {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #ffffff;
          font-family: Telex, 'Source Sans Pro';
        }
      }
    }
  }
}
